<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.4" targetFramework="net462" developmentDependency="true" />
  <package id="FontAwesomeDotNet" version="1.1.1" targetFramework="net462" />
  <package id="PropertyChanged.Fody" version="1.52.1" targetFramework="net462" developmentDependency="true" />
  <package id="puneripundit.winforms-framework" version="1.0.1" targetFramework="net462" />
</packages>